@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231 48% 94%;
    --foreground: 224 71% 4%;

    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;

    --primary: 232 53% 48%;
    --primary-foreground: 0 0% 100%;

    --secondary: 232 47% 85%;
    --secondary-foreground: 224 71% 4%;

    --muted: 232 47% 85%;
    --muted-foreground: 224 71% 25%;

    --accent: 231 44% 64%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 232 47% 85%;
    --input: 232 47% 85%;
    --ring: 232 53% 48%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 0 0% 98%;

    --card: 224 71% 4%;
    --card-foreground: 0 0% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 0 0% 98%;

    --primary: 231 44% 64%;
    --primary-foreground: 224 71% 4%;

    --secondary: 224 71% 10%;
    --secondary-foreground: 0 0% 98%;

    --muted: 224 71% 10%;
    --muted-foreground: 0 0% 63%;

    --accent: 224 71% 10%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 224 71% 10%;
    --input: 224 71% 10%;
    --ring: 231 44% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
